$back: #f0f0f0;
$front: #1b1b1b;
$accent: #de935f;

$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;

body {
      font-family: $font-stack;
      background: $back;
      color: $front;
}

#content {
      max-width: 500px;
      margin: auto;
      text-align: left;
      margin-bottom: 20px;
      
      em {
        color: $accent;
        font-style: normal;
        font-weight: bold;
      }
      
      img {
      }

      blockquote {
            font-style: italic;
      }

      code {
        font-family: monospace;
      }
}

header, footer {
      font-family: $font-stack;
      background: $back;
      color: $front;
      height: 2em;
      display: flex;
      align-items: center;
      display: -webkit-flex;
      -webkit-align-items: center;

      width: 500px;
      margin: auto;
      padding: 10px;


       h1 {
             font-weight: 800;
       }
}

table {
      margin: 0 auto;
}

th, td {
      padding: 10px;
      margin: 10px;
}

tr {
      border-bottom: 1px solid $front;
}

a, a:visited {
      color: $accent;
}
