$back: #fefefe;
$front: #1b1b1b;
$accent: #de935f;

// $font-stack: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$font-stack: Impact, Charcoal, sans-serif;
// $font-stack: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
$mono-stack: "Courier New", Courier, monospace;

html, body {
  font-family: $font-stack;
  background: $back;
  color: $front;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#content {
  background: $back;
  max-width: 500px;
  padding: 50px;
  padding-bottom: 0px;
  margin: auto;
  text-align: left;
  height: 100%;
  line-height: 1.5;

  em {
    color: $accent;
    font-style: normal;
    font-weight: bold;
  }

  img {
  }

  blockquote {
    font-style: italic;
  }

  code {
    font-family: $mono-stack;
    font-size: 90%;
    color: grey;
    line-height: 1.0;
  }
}

table {
  margin: 0 auto;
}

th, td {
  padding: 10px;
  margin: 10px;
}

tr {
  border-bottom: 1px solid $front;
}

a, a:visited {
  color: $accent;
}
